.app__vacantPosts {
    padding: 3rem 0.5rem;
    background-image: linear-gradient(to bottom, #14362b 0%, #000000 50%, #dca867 93%);
    max-width: 380px;
    border: 2px ridge #14362b;
    border-radius: 5px;
}

.app__vacantPosts h3 {
    color: var(--color-golden);
}