.app__floor-map {
    width: 500px;
    margin: 2rem auto;
}

.floor-map {
    width: 100%;
    margin-top: 2rem;
}


@media screen and (max-width: 850px) {
    .app__floor-map {
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .app__floor-map {
        width: 300px;
    }
}